<div class="flex flex-col items-center justify-center w-screen h-screen" data-controller="hello">
  <h1 class="font-bold text-4xl text-center text-red-500">Hello World!</h1>
  <p class="text-center mt-5">This is a test app for installing Tailwindcss 2 with JIT mode enable</p>
</div>
